.contact {
  color: white;
  margin-top: 1rem;
  font-size: 20px;
  position: fixed;
  bottom: 30vh;
}
.contact p {
  margin-top: 1rem;
  cursor: pointer;
}
.contact p:hover {
  color: #13ab67;
}
@media (min-width: 760px) {
  .contact {
    font-size: 40px;
  }
}
